* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*---------------------header-------------------------*/


header {
    background-image: url(Hinhanh/logo.png);
    width: auto;
    height: auto;
}

#logo{
    padding-top: 40px;
    margin: 0px auto;
    width: 825px;
    height: 168px;
    text-align: center;
    font-size: 150%;
}

.class{
    font-size: 15px;
    color: white;
    padding-top: 10px;
    margin-left: 25%;
    float: left;
}

.menu{
    list-style: none;
    width: 877px;
    height: 72px;
    margin: 0px auto;
}

.menu ul {
    background-image: url(Hinhanh/menu.png);
    padding: 26px;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    text-decoration: none;
    padding: 27px ;
    color: white;
    font-size: 90%;

}

.menu ul li a:hover{
    background-image: url(Hinhanh/menu_select.png);
}

/*-----------------------------------*/
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
/*---------------main---------*/
body{
    background-color: #f0efe2;

}

main{
    width: 873px;
    margin: 0px auto;  
    padding-left: 20px;
    background-image: url(Hinhanh/content.png);

}

.content{
    width: 595px;
    float: left;
    text-align: justify;
    margin-right: 50px;

}

.sidebar{
    width: 190px;
    display: inline-block;
    text-align: justify;
    
}

.heading{
    font-size: 150%;
    margin: 20px auto;
}

.day{
    font-size: 90%;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 15px;
}

.news{
    margin-bottom: 35px;
}

.h2{
    color: #009dff;
}

.school li {
    list-style: none;
    height: 30px;
    list-style-image: url(Hinhanh/link.png);
    margin-left: 25px;
}

.text{
    margin-top: 30px;
}

.text li{
    list-style: none;
    margin-bottom: 15px;
    list-style-image: url(Hinhanh/bullet.png);
    margin-left: 25px;
}

.spkt{
    width: 250px;
    margin: 10px 25%;

}

.h1bl{
    color: #009dff;
    font-size: 150%;
}
.hover{
    color: #ff8c00;

}

.hover:hover{
    text-decoration: none;
    font-style: italic;
}
input{
    width: 70%;
    margin-bottom: 30px;
    margin-top: 20px;
}


/*---------------------footer---------------------*/
footer{
    width: 878px;
    height: auto;
    background-image: url(Hinhanh/footer.png);
    margin: 0px auto;
}
footer p{
    padding: 5px;
    text-align: center;
}